import { FunctionComponent } from "react";

import styles from "./{{pascalCase compName}}.module.scss";

interface Props {};

const {{pascalCase compName}}: FunctionComponent<Props> = ({}) => {
  return (
    <div className={ styles.{{pascalCase compName}} }>

    </div>
  )
}

export default {{pascalCase compName}};